/* Cosmetics */
* {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    color: white;
}

body {
    background-image: linear-gradient(to right, #000020, #200020);
}

h1 {
    font-size: 2em;
}

h1, .form {
    margin: 10px 20px;
}

input, button {
    font-size: 18px;
    background-color: #00000000;
}

input {
    border: none;
    border-bottom: 2px solid #4444AA;
}

button {
    border: 2px;
    border-style: solid;
    border: 2px solid #4444AA;
    border-radius: 8px;
    padding: 10px;
}

/* Animations + focus */
input, button {
    transition: all .2s ease-in;
}

input:hover,
input:focus,
button:hover
{
    outline: 0;
    border-color: white;
}

/* Flexbox / layout */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

input, button {
    flex: auto;
}
